@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: 'Ubuntu';
  src: url(fonts/Ubuntu-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Proxima';
  src: url(fonts/proximalight.otf) format('opentype');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --primarycolor: #0369A0;
  --primarycolordark: #01687d;
  --secondarycolor: gray;
  --navtextcolor: #fff;
  --dropdownbackground: lightgray;
  --hamnavbackground: #6a6a6a;
  --dropdownhover: #7f7f7f;
  --cardgray: #eeeeee;
  --bodytextcolor: black;
  --whitetext: #fff;
  --lightprimary: #00a0de;
  --faqtextcolor: #222222;
  --servicegray: #f6f6f6;
  --dropdownresponsive: #0495b3;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.navbox{

    position: relative;
    background-color: var(--primarycolor);
    width: 100%;
    z-index: 9;
    height: 35px;
    transition: ease 1.3s;
}

section {
  position: relative;
  width: 100%;
}


.container{
    width: 100%;
    height: 68px;
    display: flex;
    position: relative;
    margin-right: 8rem;
    margin-left: 2rem;
}


/* nav::after {
  content: '';
  position: absolute;
  top: -50px;
  right: -130px;
  width: 500px;
  height: 200px;
  background: black;
  transform: skewX(-45deg);
}*/


.log-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}


.nav-area {
  display: flex;
  height: 100%;
  align-items: center;
  max-width: 550px;
  margin-left: auto;
  position: relative;
}
.nav-area li {
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  height: 100%;

}
.nav-area li a {
  position: relative;
  display: flex;
  color: rgba(0,0,0,.8);
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: .08rem;
  font-size: .9rem;
  height: 100%;
  text-transform: uppercase;

}
.hoverline::before {
  content: '';
  position: absolute;
  bottom: 30%;
  left: 0%;
  background-color: gray;
  height: 2px;
  border-radius: 5px;
  width: 5%;
  opacity: 0;
  transition: 500ms;
}
.hoverline:hover::before {
  width: 100%;
  opacity: 1;
  transition: 500ms;
}
.fa-caret-down {
  color: #000f17;
  padding-left: .25rem;
  position: relative;
}
.dropbtn {
  position: relative;
}
.dropdownmenu {
    opacity: 0;
    position: absolute;
    top: 68px;
    left: 0;
    background-color: #f9f9f9;
    z-index: 9999;
    transform: translateY(7px);
    pointer-events: none;


}
.dropdownmenu li {
    width: 100%;
    padding: 1rem 2rem;
    border: none;
}

.dropdownmenu li a {
  width: 100%;
  letter-spacing: normal;
  color: black;
  text-decoration: uppercase;
  text-transform: none;
  justify-content: flex-start;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;

}
.dropdownmenu li:nth-child(4) {
  border-bottom: none;
}
.arrowhover:hover {
  background-color: #f1f1f1
}
.dropdownmenu > li:hover,
.dropdownmenu li:active {
  background-color: var(--primarycolor);
  color: white;
}
.dropdownmenu li:hover a {
  color: white;
}
.uppercallbox {
  height: 35px;
  width: 100%;
  background: rgb(0,138,212);
  background: linear-gradient(90deg, rgba(0,138,212,1) 0%, rgba(3,105,160,1) 100%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-weight: 300;
  font-size: .8rem;
  padding-right: 5%;
  letter-spacing: .01rem;
  border-bottom: 2px solid rgba(255,255,255,0.5);
}
.uppercallbox a {
  color: white;
  font-weight: 300;
  font-size: .85rem;
  letter-spacing: .08rem;
}
.uppercallbox p:nth-child(3) {
  margin-right: 2rem;
}
.emailupper {
  display: inherit;
  align-items: inherit;
  margin-right: 2rem;
}
.dropbtn:hover .dropdownmenu {
  pointer-events: auto;
  opacity: 1;
  transition: 0.3s;
  transform: translateY(0px);
}
.emailupper {
 display: flex;
}
.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: var(--navtextcolor);
    transform: rotate(45deg);
    cursor: pointer;
    z-index: -1;
}

.arrowhover:hover ~ .arrow{
    background-color: var(--primarycolor);
}
.servicemove {
  position: relative;
  top: 3px;
}
.navbar {

 width: 100%;
 position: relative;
}

.nav {
  display: flex;
  width: 100%;
}


.hamburger {
  display: block;
  position: absolute;
  right: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: 1s;
}
.bar, .bar1, .bar2 {
position: relative;
width: 30px;
height: 3px;
border-radius: 3px;
background-color: black;
position: relative;
z-index: 1001;
transition: .6s;
}
.bar {

}
.bar1{
  transform: translateY(4px)
}

.bar2{

    transform: translateY(8px);
}
.bar.active {
  transform: translateX(60px);
  background-color: transparent;
}
.bar1.active {
    transform: translateY(1px) rotate(-44deg);
}
.bar2.active {
    transform: translateY(-2px) rotate(45deg);
}


@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.topheader {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 10;
  box-shadow: rgba(0,0,0,0.5) 0px 10px 20px, rgba(0,0,0,0.5) 0px 6px 6px;
}
.dark-mode .topheader {
  background-color: black;
}

.logobox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: red;
  }
.logobox h3 {
  white-space: nowrap;
  color: rgba(0,0,0,0.8);
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
  padding-left: .5rem;
  word-spacing: -.1rem;
}
.dark-mode .logobox h3 {
  color: white;
}
.spavector {
  height: 60px;
  margin: .5rem 0;
}
.dark-mode .spavector {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(353deg) brightness(104%) contrast(101%);
}
.aboutpic {
  display: block;
  position: relative;
  height: 400px;
  width: 600px;
  right: -50px;
  top: 60px;
  box-shadow: 0px 0px 15px -2px #000000;
}
.dark-mode .hoverline {
  color: white;
}
.dark-mode .fa-caret-down {
  color: white;
}
.logowrap {
  position: relative;
  bottom: -2px;
}
.aboutsubheader {
  font-size: 1.9rem;
  color: var(--bodytextcolor);
  font-weight: 700;
  line-height: 2.3rem;
  padding-right: 4rem;

}

/* Style container */
/* Style container */
.darkmodewrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 45px;


}
.darkcontainer {
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 35px;
  position: relative;
  top: -31px;
  pointer-events: none;
  z-index: 9;
}

#rotate-btn {
  margin: 0 auto;
  padding: 20px 20px;
  font-size: 16px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  border: none;

}
.moon {
  position: relative;
  top: -2px;
  opacity: 0;
  transform: rotate(-25deg);
  transform-origin: bottom center;
  filter: invert(100%) sepia(1%) saturate(376%) hue-rotate(160deg) brightness(117%) contrast(92%);

}
/* 303030 */
.sun {
  opacity: 1;
  position: relative;
  top: -98px;
  transform: rotate(0deg);
  transform-origin: bottom center;
}
.moon,
.sun {
  transition: .5s;
  height: 100px;
  width: 35px;
  z-index: 9;
}
.dark-mode .moon {
  opacity: 1;
  transform-origin: bottom center;
  transform: rotate(0deg);
  transition: .5s;
}
.dark-mode .sun {
  opacity: 0;
  transform-origin: bottom center;
  transform: rotate(25deg);
}


body.dark-mode {
  background-color: #2b2b2b;
  color: #fff;
}


.sun img {
  width: 28px;
  height: 28px;
  position: relative;
  top: -4px;
  left: 4px;
}
.moon img {
  width: 27px;
  height: 27px;
  padding-left: 5px;
  padding-top: 0px;

}


.time,
.email,
.phone {
  display: flex;
  font-weight: 300;
  padding-left: 2.5vw;
  align-items: center;
}
.instagram {
  position: absolute;
  left: -100px;
  top: 200px;
  height: 50px;
  width: 50px;
  background-color: var(--whitetext);
  z-index: 99;
  padding: .25rem;
  border: 2px solid gray;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  animation: instaslide .5s forwards;
  animation-delay: 1s;
}
.instagram:hover {
  background-color: lightgray;
}
@keyframes instaslide {
  from {
    left: -50px;
  }
  to {
    left: 0;
  }
}

.contact-svg2 {
  width: 18px;
  height: 18px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  margin-right: .5rem;
}
.timewrap h4,
.headertitle {
  font-size: .82rem;
  font-weight: 500;
  padding-left: .5rem;
  white-space: nowrap;
  opacity: .9;
  padding-bottom: .2rem;
  align-items: center;
  justify-content: center;
}
.header {

}
.logoboxtwo h4 {
  font-size: .9rem;
  font-weight: 600;
  line-height: 1.3rem;
  letter-spacing: .03rem;
  color: black;
}
.logoboxtwo h4 a {}
.timewrap h4 {
  letter-spacing: .03rem;
}
.timewrap .headertitle {
  font-weight: 700;
  opacity: 1;
  padding-bottom: .2rem;
}

.bannerwrap {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 5;
  height: 700px;
  box-sizing: content-box;

}


.carousel {
  width: 100vw;
  height: 700px;
  position: relative;
}
.carousel ul {
  list-style: none;
  height: 100%;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 500ms opacity ease-in-out;
  transition-delay: 200ms;
}
.slide > img {
  height: 700px;
  object-position: right;
}
.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 3rem;
  z-index: 9;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255,255,255,0.5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0,0,0,0.1)
}
.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0,0,0,0.2);
}
.carousel-button:focus {
  outline: 1px solid black;
}
.carousel-button.prev {
  left: 1rem;
}
.carousel-button.next {
  right: 1rem;
}


.bannerwrap::before {
  content: '';
  position: absolute;
  background-color: black;
  opacity: .6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.herotextwrap {
   position: absolute;
   top: 50%;
   left: 0;
   z-index: 2;
   color: var(--navtextcolor);
   transform: translate(14%, -50%);
   padding: 5% 5%;
   min-width: 700px;

}
.herotextwrap h1 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 600;
  word-spacing: .5rem;
  position: relative;
  line-height: 4.5rem;
}
.bold {
  font-weight: 800 !important;
}
.ctabuttons {
  display: flex;
  gap: 2rem;
}
.ctabutton {
  background-color: var(--primarycolor);
  color: white;
  margin-top: 1rem;
  padding: .75rem 2rem;
  font-size: 1rem;
  font-weight: 500;
}
.herotextwrap h1::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 4px;
  width: 50%;
  height: 2px;
  background-color: white;
}
.herotextwrap h2 {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 1.5rem 0;
  line-height: 1.6rem;
  max-width: 700px;

}

.virtualcta {
  background-color: var(--whitetext);
  text-decoration: none;
  color: var(--primarycolor);
  display: table;
  width: auto;
  padding: .7rem 2.4rem;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 600;
  border-radius: 500px;
  transition: .3s;
  border
}


.virtualcta:hover {
  background-color: var(--primarycolor);
  color: var(--whitetext);
}

.bottombanner {
  background-color: var(--primarycolor);
  box-shadow: 0px -5px 15px -1px #000000;
  color: white;
  overflow: hidden;
  display: flex;
  z-index: 9;
}
.blur {
  opacity: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: rgba(0,0,0,.93);
  z-index: 9;
  backdrop-filter: blur(7px);
  transition: opacity 500ms;
  pointer-events: none;
}
.virtualwrap {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;

}
.drainandcleanbottom h5 {
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.bottombanner-right {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 500px;
  height: 75px;
  background: #c2c2c2;
  display: flex;
  align-items: center;
  transition: .3s;
}

.bottombanner-right::after {
  content: '';
  position: absolute;
  left: -24px;
  width: 48px;
  height: 75px;
  background-color: var(--primarycolor);
  transform: skewX(-30deg);
}

.mobilenav {
  width: 100vw;
  height: 100vh;
  padding-left: 3rem;
  margin-top: 3rem;
}
.mobilenav ul {

}
.mobilenav li {
    padding: 1rem;
}
.mobilenav li a {
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
}
.mobiledrop {
  height: inherit;
}
.mobiledrop li a {
   font-size: 1.1rem;
   margin-left: 1rem;
}
.virtualservice {
  font-size: 1rem;
  font-weight: 400;
  padding: .75rem 2rem;
  max-width: 1000px;
  text-align: center;
  line-height: 1.5rem;
  color: white;
  margin: auto;
  background-color: var(--primarycolor);
}
.virtualservice strong {
  font-size: 1.1rem;
  font-weight: 500;
}
.virtualcta {
  background-color: var(--whitetext);
  margin-left: 4rem;
  padding: .5rem 1.5rem;
  border-radius: 500px;
  border: 2px solid var(--primarycolor);
  position: relative;
}
.dashlines {
  background-color: red;
  color: red;
  height: 50px;
}
.militarywrap {
  display: flex;
  position: relative;
  bottom: -80px;
  max-width: 1100px;
  margin: 0 auto;
  background: linear-gradient(rgba(0,132,157,.92),rgba(0,132,157,.92)), url('images/militarybannerimage.png') no-repeat;
  background-size: cover;
  background-position: top center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  color: var(--whitetext);
  align-items: center;
  justify-content: center;
  transition: .3s;

}
.militarylogo {
  filter: invert(100%) sepia(6%) saturate(603%) hue-rotate(230deg) brightness(117%) contrast(100%);
  height: 100px;
  margin: .5rem;
}
.militarytextwrap {
  font-family: 'Raleway', sans-serif;
 text-align: center;
 margin: 0 auto;
 max-width: 700px;
  padding: .25rem .5rem;

}
.militarytitle {
 font-size: 1.7rem;
 font-weight: 600;

}
.militarytext {
  font-weight: 500;
  font-size: 1rem;
  margin-top: .5rem;
  opacity: .8;
  line-height: 1.5rem;
}

.about {
  padding: 2rem 2rem 0 2rem;
  margin: 0 auto;
  max-width: 1400px;


}
.aboutpagewrap {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 3rem;
  max-width: 1100px;
}
.aboutwrap {
 display: flex;
 margin: 0 auto;
}
.abouttextwrap {
  background-color: rgba(255,255,255,0.5);
  border: 2px solid white;
  padding: 3rem 3rem 3rem 5rem;
  max-width: 750px;

}

.abouttext,
.servicetitleunder  {
  color: black;
  padding-top: 1rem;
  font-size: .95rem;
  line-height: 1.8rem;
  text-indent: 1rem;
  font-weight: 400;

}
.aboutcta {
  position: relative;
  display: inline-block;
  border: 2px solid var(--primarycolor);
  padding: .5rem 2rem;
  margin-top: 1.5rem;
  color: var(--primarycolor);
  font-weight: 500;
}
.aboutcta::before {
  content: '';
  position: absolute;
  top:-2px;
  left:-2px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid var(--primarycolor);
  transition: .3s;
}
.aboutcta:hover::before {
   transform: scale(1.1, 1.3);
   transition: .6s;

}
.aboutcta:hover {
   background-color: var(--primarycolor);
     color: var(--whitetext);
}

.servicetitle,
.faqheader,
.reviewheader {
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
  padding: 2rem 1rem;
  color: var(--bodytextcolor);
  margin: auto;
  display: table;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.5rem;
}
.faqheader span {
  font-weight: 700;
}
.servicetitle {
  padding: 0 2rem .5rem 2rem;
  font-size: 3rem;
  font-weight: 700;
  opacity: .8;
  text-transform: none;
  letter-spacing: .05rem;
  margin-top: 2rem;
  margin-bottom: 1rem;

}
.servicetitle img {
  position: relative;
  height: 40px;
  top: 2px;
}
.servicetitleunder {
  text-align: center;
  max-width: 900px;
  margin: 0 auto 2rem;
  font-size: 1.05rem;
  padding: 0 1rem;

}
.frontabout {
  font-size: 2rem;
  font-weight: 500;
  color: var(--bodytextcolor);
  text-align: center;

}

.gallery-container {
  width: 80%;
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 20px;

}
.gallery-item {
   margin: 0 auto;
   cursor: pointer;
   overflow: hidden;
}
.gallery-item img:hover {
   transform: scale(1.03);
   opacity: .9;
}
.gallery-item img {
  opacity: .9;
  transition: .3s;
  width: 100%;
}
.gallery-content {
   font-size: .8em;
}
.galleryheadertext {
   position: relative;
   color: var(--primarycolor);
   font-size: 1.6rem;
   font-weight: 600;
}
.gallerytextwrap {
  background-color: #f5f5f5;
  margin: 3rem auto;
  max-width: 1000px;
  padding: 3rem 3rem;
}
.galleryheadertext::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 20%;
  height: 2px;
  background-color: black;
}
.galleryheadersubtext {
  margin: 2rem 0 2rem;
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 1rem;
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noSelect:focus {
    outline: none !important;
}

.lightbox {
   position: fixed;
   display: none;
   background-color: rgba(0, 0, 0, 0.6);
   width: 100%;
   height: 100%;
   overflow: auto;
   top: 0;
   left: 0;
   z-index: 99;
}
.lightbox-content {
   position: relative;
   width: 55%;
   height: 75%;
   margin: 5% auto;
   margin-top: 100px;
}
.lightbox-content img {
   border-radius: 3px;
   border: 4px solid white;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.lightbox-prev,
.lightbox-next {
   position: absolute;
   background-color: #;
   color: #fff;
   padding: 25px 0;
   cursor: pointer;
   height: 100%;
   width: 10%;
   top: 50%;
   transform: translate(-0%,-50%);
}
.lightbox-prev {
   left: 0;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}
.lightbox-next {
   right: 0;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
.lightbox-prev:hover,
.lightbox-next:hover {
   opacity: .8;
}
.fa-angle-right,
.fa-angle-left {
  background-color: #;
  height: 50%;
  width: 15%;
  font-size: 25px;
  font-weight: 700;
}
.fa-angle-right:before {
    content: "\f105";
    background-color: rgba(0,0,0,0.8);
    padding: 25px 10px;
    margin-right: 4px;

}
.fa-angle-left:before {
    content: "\f104";
    background-color: rgba(0,0,0,0.8);
    padding: 25px 10px;
    margin-left: 4px;
}

.frontaboutcolor {
  font-weight: 600;
  color: var(--bodytextcolor);
}
.abouttitle::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 454px;
  background-color: var(--primarycolor);
}
.frontaboutintro:nth-child(2) {
  padding-top: 1rem;
}

.aboutleft p {
  padding-top: 2rem;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.8rem;
  padding-right: 3rem;
  text-align: justify;
  text-indent: 4ch;


}

.baltimore {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  padding: .5rem;
}

.services {
  width: 100%;
  padding-top: 2rem;
  color: var(--bodytextcolor);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;

}

.servicewrap {
  padding: 3rem 0 1rem 0;
  box-shadow: 0px 0px 20px -10px #000000;
  background: url('images/cardbackground3.jpg') no-repeat;
  background-size: cover;
  }


.servicetitlesubtext {
  text-align: center;
  position: relative;
  top: -18px;
  font-size: 1.2rem;
  color: var(--faqtextcolor);
  padding: 0 .5rem 1rem .5rem;
}
.card {
  width: 275px;
  height: 360px;
  border: 3px solid var(--primarycolor);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  margin: 3rem 1.25rem 3rem 1.25rem;
  transition: 0s;
}


.circle {
  height: 80px;
  width: 80px;
  background-color: var(--whitetext);
  position: relative;
  top: -42px;
  left: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  border: 3px solid var(--primarycolor);
}

.cardtitle {
  text-align: center;
  position: relative;
  top: -25px;
  font-size: 1.2rem;
  font-weight: 700;
  opacity: .9;
  padding-top: .5rem;
  transition: .3s;
}
.cardtitle a {
  color: var(--bodytextcolor);
}
.cardtitle::before {
  content: '';
  position: absolute;
  bottom: -8px;
  right: 50%;
  transform: translate(50%,0%);
  width: 20%;
  height: 2px;
  border-radius: 3px;
  margin-left: 40%;
  background-color: var(--primarycolor);
}

.card p {
  padding: 0 1rem;
  font-size: .9rem;
  text-align: center;
  line-height: 1.5rem;
  font-weight: 400;
  position: relative;
  top: -8px;

}

.card-cta,
.card-ctaproblem {
  display: table;
  position: absolute;
  color: var(--navtextcolor);
  background-color: var(--primarycolor);
  padding: .5rem 1rem;
  width: 120px;
  height: 40px;
  transition: .3s;
  box-sizing: border-box;
  bottom: -22px;
  right: 30%;
}
.card-ctaproblem {
}
.card-ctaproblem::before,
.card-cta::before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width: 116px;
  height: 36px;
  background-color: transparent;
  border: 2px solid var(--primarycolor);
  transition: .3s;
}
.card-ctaproblem:hover::before,
.card-cta:hover::before {
   transform: scale(1.1, 1.3);
   transition: .6s;
}

.cardwrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 3;
  padding: 0 1rem;
  margin: 0 auto;
}
.cardoneandtwo,
.cardthreeandfour {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}


.serviceicon {
  position: relative;
  top: -2px;
  left: -2px;
  opacity: .8;
  height: 48px;
  width: 48px;
  transform: rotate(-45deg);
}


.faqsection {
  margin: 11rem auto 0 auto;
  padding: 0 2rem;

}

.underline {
  position: relative;
}

.ozonetext {
  max-width: 900px;
  font-size: 1rem;
  color: var(--bodytextcolor);
  padding: 1rem 0 3rem 0;
  line-height: 1.8rem;
  text-align: center;
  margin: 0 auto;
}
.faqheader {
  max-width: 1300px !important;
}
.color {
  color: var(--primarycolor);
}


.wholefaqwrap {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
.faqwrap {
   margin: 0 1rem;
}
.faqwrap h2 {
  color: var(--primarycolor);
  font-weight: 500;
  padding-bottom: 1rem;
}
.faqspaimg {
 width: 500px;
 height: 330px;
 transition: .5s;
 margin: 0 1rem;
}
.accordion {
  height: 420px;
}
 .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 2em 1em 0;
  color: var(--faqtextcolor);
  font-size: 1rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: var(--primarycolor);
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: var(--primarycolor);
  border: 1px solid var(--primarycolor);
}

 .accordion-title {
  padding-right: 2rem;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: var(--primarycolor);
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 10rem;
  transition: all 200ms linear;
  padding: 0 1rem;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: .9rem;
  font-weight: 400;
  padding: .5rem 0 1.2rem 0;
  line-height: 1.5rem;
}









.reviewsection {
  width: 100%;
  padding: 4rem 0 6rem 0;
  z-index: 1;
  background: linear-gradient(rgba(0,132,157,.9),rgba(0,132,157,.9)), url('images/reviewphoto2.jpg') no-repeat;
  box-shadow: 0px 0px 23px -10px #000000;
  background-size: cover;
  background-position: bottom;


}
.topreviewwrap {
  position: relative;
  display: table;
  margin: auto;
  text-align: center;
  padding: 0 1rem;
}
.returnarrowwrap {
  position: fixed;
  right: -10px;
  bottom: 0;
  z-index: 9;
  background-color: white;
  border: 2px solid var(--primarycolor);
  border-radius: 40%;
  opacity: 0;
  margin: 2rem;
  transition: .8s;
}
.returnbutton {
  display: flex;
  flex-direction: column;
}
.returnarrowwrap.sticky {
  opacity: 1;
}
#returnarrow {
  filter: invert(30%) sepia(97%) saturate(2230%) hue-rotate(175deg) brightness(99%) contrast(101%);
  width: 30px;
  height: 30px;
  padding: .4rem;
  transition: .3s;
  font-weight: 500;
}


.reviewheader {
  margin-bottom: 1rem;
  color: var(--whitetext);
  font-weight: 600;
  z-index: 999;
}

.reviewheader::before {
  content: '';
  position: absolute;
  width: 25%;
  height: 2px;
  bottom: 15px;
  left: 0;
  margin-left: 37.5%;
  background-color: var(--whitetext);
  opacity: .5;
}
.reviewwrap {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.servicebannertitlehidden {
  display: none;
}
.reviewbox {
  max-width: 400px;
  transition: .3s;
  border: 1px solid var(--whitetext);
  -webkit-box-shadow: 0px 8px 26px -18px rgba(0,0,0,0.36);
  box-shadow: 0px 8px 26px -18px rgba(0,0,0,0.36);
  margin: 1rem 1.5rem;
  color: var(--whitetext);
}
.quote {
  height: 24px;
  margin: 1rem 0 .5rem 2rem;
 filter: invert(100%) sepia(6%) saturate(603%) hue-rotate(230deg) brightness(117%) contrast(100%);

}

.reviewtext {
  padding: 0 1.5rem;
  margin: auto;
  text-align: center;
  line-height: 1.5rem;
  font-size: .9rem;
  font-weight: 400;
  position: relative;
}

.reviewtext::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 12%;
  background: #fff;
  bottom: -20px;
  left: 44%;
}

.reviewbottomleft {
  display: flex;
}
.virtualcta2 {
  display: none;
  position: relative;
}
.reviewname {
  color: inherit;
  white-space: nowrap;
  font-weight: 400;
  margin-top: 2rem;
  margin-left: 1.5rem;
}

.lefttoright {
  animation: lefttoright 1s;
}
.righttoleft {
  animation: righttoleft 1s;
}
.bottomtotop {
  animation: bottomtotop 1s;
}
.toptobottom {
  animation: toptobottom 1s;
}

.spinin {
  opacity: 0;
}
.spinin.active {
  animation: spinin 1s;
  animation-duration: 1s;
  animation-delay: .25s;
  animation-fill-mode: forwards;
}

@keyframes spinround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes toptobottom {
  from {
    transform: translateY(-25px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes bottomtotop {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes lefttoright {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes spinin {
  from {
    transform: translateX(-25px) rotate(0);
    opacity: 0;
  }
  to {
    transform: translateX(0px) rotate(110deg);
   opacity: 1;
  }
}
@keyframes righttoleft {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.googleicon {
  width: 42px;
  margin: 1rem 1.5rem 1rem auto;
  filter: invert(18%) sepia(2%) saturate(11%) hue-rotate(1deg) brightness(91%) contrast(88%);
}

.fadein {
  position: relative;
  transform: translateY(25px);
  opacity: 0;
  transition: .7s;
}

.fadein.active {
  transform: translateY(0px);
  opacity: 1;
}
.slideIn {
  position: relative;
  transform: translateX(25px);
  opacity: 0;
  transition: 1s;
}
.slideIn.active {
  opacity: 1;
  transform: translateX(0px);
}
#card2 {
  transition-delay: .15s;
}
#card3 {
  transition-delay: .30s;
}
#card4 {
  transition-delay: .45s;
}

.fadein:nth-child(1){
  transition-delay: .25s;
}
.fadein:nth-child(3){
  transition-delay: .5s;
}
.bold {
  font-weight: 600;
  letter-spacing: .1rem;
}

.contact {
  background: linear-gradient(rgba(255,255,255,.93), rgba(255,255,255,.93)), url("images/bottombackground.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  position: relative;
  overflow: hidden;
  padding: 1rem;

}


.contactus {
  background: white;
  display: flex;
  width: 980px;
  margin: 6rem auto;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
  position: relative;
  border-radius: 5px;
}

.leftcontact {
}
.leftcontact h3 {
  text-transform: uppercase;
  color: var(--primarycolor);
  font-weight: 500;
  font-size: 1.2rem;
}

.topcontactwrap {
  display: flex;
  margin-right: 2rem;
}

.lowerspaphoto {
  height: 124px;
  width: 150px;
  position: relative;
  top: -15px;
}

.topcontact {
  padding-top: 1.3rem;
  padding-left: .5rem;
}

.contactmiddlehead {
  padding: .25rem 0 .25rem 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--bodytextcolor);
  white-space: nowrap;

}

.undercontact {
  color: var(--faqtextcolor);
  opacity: 1;
  padding-bottom: 2.5rem;
  white-space: nowrap;
}

.contactbox {
  display: flex;
  padding: .4rem .7rem .3rem 0;
  margin-bottom: .5rem;
  align-items: center;

  }


  .rightcontact{

  }


  .contact-svg {
    width: 30px;
    height: 30px;
    opacity: 1;
    margin-right: 1rem;

  }

  .contactinfobox p {
    font-size: .9rem;
    padding-bottom: .2rem;
  }

  .contactinfobox {
    display: flex;
    flex-direction: column;
  }
  .contactinfobox h5 {
    color: var(--primarycolor);
    font-size: .9rem;
  }

.contact-form {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    background: var(--servicegray);
    padding: 0 2rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 1rem;
    max-width: 450px;

  }

  .contact-form input,
   textarea {
    margin-top: 1rem;
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
.contactbutton {
    margin: 1.5rem 0 1.5rem 0;
    padding: .7rem 0 !important;
    border: none;
    background: var(--primarycolor);
    cursor: pointer;
    font-size: .8rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--whitetext);
  }
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  background: linear-gradient(rgba(0,132,157,.84),rgba(0,132,157,.84)), url('images/footerimage2.jpg') no-repeat;
  background-position: bottom;
  background-size: cover;
  color: var(--whitetext);
  box-shadow: 0px 0px 16px -5px #000000;
  padding: 0 10%;
  font-size: .9rem;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.footerwraplinks {
  text-align: center;
}
.footer ul li a {
  color: inherit;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 .5rem;
  line-height: 1.6rem;
}
.footer ul li {
}
.footer ul li:hover {
  color: #dedede;
}
.footer h5 {
  font-size: 1.2rem;
  padding: 3rem 0 1.5rem 0;
  text-align: center;
}
.footerabout p {
  line-height: 1.5rem;
  min-width: 300px;
}
.copyrighttext {
   padding-bottom: 2rem;
   font-size: .9rem;
}
  .sm a {
    display: inline-block;
    font-size: 40px;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 100px;
    color: inherit;
    margin: 0 16px;
    transition: .4s linear;
    position: relative;
    padding-bottom: 6rem;
  }

  .sm a::before, .sm a::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 80%;
    left: 0;
    top: 10px;
    transition: .4s linear;
  }

  .sm a:hover {
    transform: scale(.8);
  }

  .sm a:hover::before {
    border-left: 3px solid;
    border-right: 3px solid;
    transform: skewX(20deg);
  }
  .sm a:hover::after {
    border-top: 3px solid;
    border-bottom: 3px solid;
    transform: skewY(-20deg);
  }
.footerwrapareas {
  display: flex;
  flex-direction: column;
}
.footerareatext {
  display: flex;
  gap: 2rem;
  white-space: nowrap
}
.footerareatext p {
  padding-bottom: .5rem;

}
.servicebannerwrap {
  display: flex;
  height: 250px;
  width: 100%;
  padding-bottom: 2rem;
}
.servicebannerleft {
  background-color: #d0d3d5;
  display: flex;
  flex: 1;
  align-items: center;
}
.servicebannertitle {
  position: relative;
  background-color: #f2f2f2;
  right: -50px;
  width: 100%;
  height: 80%;
  padding: 1rem 1rem 1rem 2rem;
  min-width: 383px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.servicebannertitle::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 32px;
  height: 32px;
  background-image: url("images/bracket.png");
  transform: rotate(-90deg);
}
.servicebannertitle::after {
  content: '';
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 32px;
  height: 32px;
  background-image: url("images/bracket.png");
  transform: rotate(90deg);
}
.servicebannertitle h4 {
  font-size: 1.8rem;
  font-weight: 700;
  padding: .5rem 0 .5rem 0;
  transform: skewX(-5deg);
}
.servicebannertitlehidden h4 {
  font-size: 1.3rem !important;
  font-weight: 700 !important;
  padding: .5rem 0 .5rem 0;
  transform: skewX(-5deg);
}
.servicebannertitlehidden p {
  font-size: .9rem;
  font-weight: 600;
  line-height: 1.5rem;
  max-width: 400px;
  color: #00000090;
  text-align: center;
  margin: 0 auto;
}
.servicebannertitle p {
  font-weight: 600;
  line-height: 1.5rem;
  max-width: 400px;
  color: #00000090;
}
.repairbannerright,
.aboutbannerright,
.drainbannerright,
.monthlybannerright,
.refurbbannerright,
.virtualbannerright {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex: 2;
  position: relative;
  z-index: -1;
}
.aboutbannerright {
  background-image: url("images/aboutbanner1.jpg");
}
.repairbannerright {
  background-image: url("images/servicebanner2.jpg");
}
.drainbannerright {
  background-image: url("images/servicebanner3.jpg");
}
.monthlybannerright {
  background-image: url("images/servicebanner4.jpg");
}
.refurbbannerright {
  background-image: url("images/servicebanner1.jpg");
}
.virtualbannerright {
  background-image: url("images/virtualbanner1.jpg");
}

.repairwrap {
  padding: 0rem 3rem 1rem 3rem;
}
.cleanguysubwrap {
  padding: 0 2rem;
}

.serviceheader {
  margin-top: 2rem;
}
.serviceheadertext {
  text-align: center;
  font-size: .95rem;
  margin-top: .5rem;
  line-height: 1.8rem;
  margin: 0 auto;
  max-width: 1000px !important;
  padding: 0 1rem;
}

 .repairpic,
  .repairpic2,
  .repairpic3,
  .monthlypic {
    background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  filter: brightness(95%);
  }
  .drainandcleanpicwrap {
    padding: 2rem;
   display: flex;
   align-items: flex-start;
  }
  .drainmiddle {
    padding-left: 1rem;
    position: relative;
    top: -25px;
    max-width: 450px;
  }
  .drainandcleanpic {
   width: 500px;
  }

 .drainandcleanbottom {

  }
  .drainandcleanbottom h4 {
     text-align: center;
     margin-bottom: 1rem;
   }
  .servicetopwrap {
    display: flex;
  }
  .repairpic {
    background-image: url("images/doctorrepair.jpg");
  }
  .repairpic2 {
    background-image: url("images/whirlpoolrepair.jpg");
  }
  .repairpic3 {
      background-image: url("images/refurb400.jpg");
      width: 350px;
      height: 350px;
  }
  .monthlypic {
    background-image: url("images/maint400.jpg");
    background-position: right;
  }
.repair--imagewrap{
  position: relative;
}
.repairpicdrain {
  box-shadow: 19px 19px 0px -4px var(--dropdownbackground);
  width: 500px;
  height: 282px;
}
.repaircontent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

}

.repairlist img {
   height: 30px;
   position: relative;
   top: 5px;
   margin-right: 10px;
}

.servicemonthlyleft,
.servicemonthlyright {
  padding: 1rem 1rem 1rem 2rem;
}

.servicemonthlyleft .service--header {
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.monthlylist {
}
.servicemonthlybottom {
  padding: 0 3rem;
  display: flex;
  margin-bottom: 3rem;
}
.cleanguywrap {
  display: flex;
  align-items: flex-end;
  margin: 0 2rem;
}
.cleanguypic {
  position: relative;
  height: 200px;
  width: 200px;

}
.repaircontenttop,
.repaircontentbottom {
  display: flex;
  flex: 1;
  max-width: 1100px;
}

.repaircontentbottom {
  position: relative;
}
.refurbpicwrap {
  display: flex;
  margin-top: 1rem;
  max-width: 800px;
}
.refurbpicwrap p {
  padding-right: 2rem;
}

.refurbpicwrap img {
  width: 400px;
  margin-top: 1rem;
}
.aboutpagecontent h2,
.repaircontent h4,
.virtualcontent h4,
.serviceheader {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--primarycolor);
  line-height: 3rem;
  padding-bottom: .6rem;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
.repaircontent h4 {
  position: relative;
}
.cleanimgwrap {
  display: flex;
}
.cleanimgwrap p {
  max-width: 700px !important;
  padding-right: 1rem;
}
.repairlistpicwrap {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.aboutpagecontent h2 {
  font-size: 2.3rem;
  font-weight: 500;
  padding-bottom: 1rem;

}
.repaircontentwrap {
  flex: 1;
  padding: 2rem;
}

.clipright {
 clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}
.clipleft {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);

}
.virtualcontent h4 {
  font-size: 2rem;
  padding-left: 1rem;
  line-height: 2.5rem;
}
.drainlist img{
  display: block;
  position: relative;
  top: -6px;
  margin-right: .5rem
}
.drainlist li {
  display: flex;

  padding-left: 0rem;
}
.repaircontent p,
.aboutpagecontent p{
  line-height: 2rem;
  text-indent: 1.5rem;
  padding-top: .75rem;
  font-size: 1.125rem;
  color: rgba(0,0,0,0.7);
  font-weight: 400;
  text-align: left;
}
.repaircontentwrap:nth-last-child(1) h4 {
  margin-bottom: 1rem;
}
.virtualcontent p {
  font-weight: 400;
  line-height: 1.8rem;
  text-indent: 1.5rem;
  font-size: 1rem;
  color: var(--bodytextcolor);
}
.virtualcontent  {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--servicegray);
  padding: 3rem 4.5rem;
  border-radius: 10px;
  border: 3px solid var(--primarycolor);
}
.virtualicon {
  height: 140px;
  width: 125px;


}
.virtualimgwrap {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  align-items: center;
  padding: 1rem 2rem;


}
.bottomvirtualtext {
  padding-top: 2rem;
  text-indent: 0 !important;
  text-align: center;
}
.bottomvirtualtext:nth-last-child(1) {
  text-transform: uppercase;
  display: table;
  margin: 0 auto;
  padding: .5rem 1rem;
  margin-top: 3rem;
  color: var(--whitetext);
  font-size: 1rem;
  background-color: var(--primarycolor);
}
.repairsubtext {
  color: var(--bodytextcolor);
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
  line-height: 1.6rem;
  padding-bottom: 2rem;
}

.monthlyheader {
  margin-top: 1rem;
}
.repaircontent ul {
  padding-left: 2rem;
}
.repaircontentwrap .monthlyuppertext {
  line-height: 2rem;
  padding-top: .5rem;
}
.monthlyuppertextwrap {
  display: flex;
}
.cleaningkit {
  width: 180px;
  margin: 1rem 2rem 2rem 2rem;
}
.repaircontent ul li {
  font-size: 1rem;
  padding-bottom: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  color: gray;
  }

.repaircontent h5 {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--bodytextcolor);
  line-height: 1.5rem;
  opacity: .7;
  padding: .25rem 0;

}
.servicemonthlyright p {
  margin-bottom: 1.5rem;
}
.monthlymaintbonus {
  text-indent: 0rem !important;
}
.monthlytext {
  text-indent: 0 !important;
}
.brandswrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem 2rem 5rem 2rem;

}

.virtualarrow {
  position: absolute;
  bottom: 0px;
  width: 20px;
  margin-left: .4rem;
  filter: invert(100%) sepia(6%) saturate(603%) hue-rotate(230deg) brightness(117%) contrast(100%);
}
.virtualcta2:hover {
  color: #d4d4d4;
}
.virtualcta2:hover .virtualarrow {
  filter: invert(98%) sepia(1%) saturate(2311%) hue-rotate(236deg) brightness(111%) contrast(74%);
}
@media (max-width: 1410px) {
  .time {
    display: none;
  }

}

@media (max-width: 1330px) {
.bottombanner-right {
  min-width: 300px;
}
.footerabout {
  display: none;
}
.footer {
  grid-template-columns: 1fr 1fr;
  margin: 0;
}
}

@media (max-width: 1220px) {
  .cleanguypic {
    top: 0;
  }
  .drainandcleanpicwrap {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
  }
  .drainandcleanpic:nth-child(2) {
    margin-top: 2rem;
  }
  .drainandcleanpic {
    width: 100%;
  }
  .cleanguywrap {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .cleanguysubwrap {
    padding: 0;
  }
  .drainandcleanbottom {
     margin: 0 1rem;
   }
  .servicemonthlybottom {
    padding: 1rem;
  }

  .clipright {
   clip-path: none;
  }
  .clipleft {
    clip-path: none;

  }
  .servicetopwrap {
    flex-direction: column;
  }
  .cleaningkit {
    display: none;
  }
  .servicemonthlyleft,
  .servicemonthlyright {
    padding: .25rem;
  }

  .servicemonthlybottom {
    flex-direction: column;
  }
  .repaircontenttop,
  .repaircontentbottom,
  .repaircontenttopbig {
    border-radius: none;
    display: flex;
    max-width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 1rem 2rem 1rem;

  }
  .repaircontenttop{
  margin-bottom: 5rem;
}
  .repaircontentbottom {
    flex-direction: column-reverse;
  }
    .repaircontentbottom::after {
      right: 50px;
    }
  .repairpic,
  .repairpic2,
  .repairpic3,
  .repairpic4,
  .monthlypic {
    width: 100%;
    height: 250px;
    background-position: center;
    }

  .aboutwrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .abouttextwrap {
    padding: 5rem 2rem 2rem 2rem;
    max-width: 900px;
  }
  .aboutpic {

    right: 0;
    top: 25px;
  }
  .aboutsubheader {
    padding-right: 0;

  }


}



@media (max-width: 1125px) {

  .virtualservice {
   font-size: .9rem;
 }
 .email {
   display: none;
 }

}
@media (max-width: 1020px)  {
  .topcontactwrap {
    margin-right: 0;
  }
  .contactus {
    display: block;
    max-width: 500px;
  }
}


@media (max-width: 960px){
  #navbox.stickynav {
    animation: toptobottom .5s;
    position: fixed;
    top: 0;
    transition: ease 1.6s;
    box-shadow: 0px -5px 15px -1px #000000;

  }

  .virtualservice {
   line-height: 1.2rem;
   padding: .75rem 1rem;
 }
  .virtualctatext {
    font-size: 1rem;
  }

  .virtualcta2 {
    display: inline-block;
    color: var(--whitetext);
    padding-left: .5rem;
  }
   .bottombanner-right {
     display: none;
   }

   .leftcontact {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   .contactinfowrap {
     padding-bottom: 1rem;
   }
   .undercontact {
     padding-bottom: 1rem;
   }
   .wholefaqwrap {
     display: block;
   }
   .faqspaimg {
     display: inherit;
     margin: 0 auto;
     padding-bottom: 1rem;
     transition: .5s;
   }

   .brands1,
   .brands2 {
     height: auto;
   }
   .brandswrap {
    padding: 2rem .5rem 2rem .5rem;
   }
}









@media (max-width: 920px){


    @keyframes slideIn {
      from {
        opacity: 0;
        right: -200px;
      }
      to {
        opacity: 1;
        right: 0px;
      }
    }

    #myDiv:target {
  display: none;
}




    #closeBtn:active + #myDiv {
          transform: translateX(110%);
          height: 0;
      }

    .log-sign{
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    }

}

@media (max-width: 880px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-areas: "a"
                         "b";
    gap: 0;
    padding: 0 5%;
    place-items: center;
  }
  .footerareatitle {
    grid-area: a;

  }
  .footerwraplinks {
    grid-area: b;
    flex-wrap: wrap;
    white-space: normal;
  }
  .militarytitle {
    font-size: 1.3rem;
  }
  .militarytext {
    font-size: .9rem;
    line-height: 1.4rem;
  }
  .servicebannerwrap {
    flex-direction: column;
    height: 200px;
    padding-bottom: 0;
  }
  .repairbannerright {

  }
  .servicebannerleft {
    display: none;
  }
  .servicebannertitlehidden {
    display: block;
    background-color:  #eff0f1;
    text-align: center;
    width: 100%;
    padding: .5rem;
    box-shadow: 0px 8px 26px -18px rgba(0,0,0,0.96);
  }
  .servicebannertitlehidden h4 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: .25rem;
  }

}

@media (max-width: 800px) {
  .topheader {
    justify-content: center;
  }
  .phone {
    display: none;
  }
  .brands1,
  .brands2 {
    width: 100%;
    height: auto;
  }
  .servicewrap {
    padding: 2rem 0 2rem 0;
  }
  .faqsection {
    margin-top: 5rem;
  }
  .faqheader,
  .reviewheader {
    font-size: 1.2rem;
    padding: 1rem 1rem;
    line-height: 1.5rem;
  }
  .reviewheader::before {
    display: none;
  }
  .reviewsection {
    padding: 2rem 0 3rem 0;
  }
}
@media (max-width: 750px) {
  .lightbox-content {
     width: 85%;
   }
  .fadein {
    position: relative;
    transform: translateY(0px);
    opacity: 1;
    transition: 0s;
  }
  .bottombanner-right {
    display: none;
  }
  .slideIn {
    position: relative;
    transform: translateX(0px);
    opacity: 1;
    transition: 0s;
  }

}

@media (max-width: 700px) {

  .blur.active {
   opacity: 1;
   transition: opacity 500ms;
  }
  .nav-area li {
    height: auto;
    width: 100%;
  }

  .nav-area {
   display: none;
  }
  .servicetitleunder {
    text-align: center;
    margin: 0 auto 2rem;
    font-size: 1rem;
    padding: 0 .75rem;
  }
  @keyframes righttolef {
    from {
      right: 0px;
    }
    to {
      right: 250px;
    }
  }

  .hamburger {
    display: flex;
    overflow: hidden;
    animation: fadein 2s forwards;

  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .instagram {
    display: none;
  }


  .drainandcleanpicwrap {
   margin: 1rem;
  }
  .drainandcleanpic {
    width: 100%;
    height: auto;
  }

  .virtualcontent  {
    padding: 2rem .75rem;
  }
  .repairwrap {
    padding: 2rem 1rem 1rem 1rem;
  }
  .repaircontentwrap {
    padding: 1rem 1rem;
  }
}
@media (max-width: 677px) {


}
@media (max-width: 650px) {
  .contactus {
    margin-top: 3rem;
    border: none;
  }
  .servicetitle img {
    height: 32px;
    top: 6px;

  }
  .servicetitle {
    font-size: 1.9rem;
  }
.aboutpic {
  width: 100%;
  height: auto;
}

}
@media (max-width: 600px){
  .militarywrap {
    display: none;
  }
  .faqsection {
    margin-top: 2rem;
  }
}
@media (max-width: 550px) {
  .aboutsubheader {
    font-size: 1.6rem;
    padding-top: .5rem;

    font-weight: 700;
    line-height: 2.3rem;
    padding-right: 4rem;
    font-family: 'Ubuntu';
  }
  .contactus {
    width: 100%;
  }
  .drainandcleanbottom h5 {
    font-size: 1rem;
  }
  .repaircontenttop,
  .repaircontentbottom {
    padding: 0rem 0;
    margin-bottom: 2rem;
  }

  .servicemonthlybottom {
    padding: 0
  }
  .repairwrap .repaircontent h4 {
    font-size: 1.2rem;
  }
  .virtualimgwrap {
    padding: 0;
  }
  .repairpicdrain {
    box-shadow: none;
    width: 100%;
    height: auto;
  }
  .wholefaqwrap .faqspaimg {
    width: 100%;
    height: auto;
  }

}

@media (max-width: 500px) {
  .contact-form {
      padding: 0 1rem;
      padding-top: .5rem;


    }
  .contactus {
    margin-top: 2rem;
    border: none;
  }
  .virtualcontent {
    padding-top: 1rem;
  }
  .contact {
    padding: 0;
  }
  .virtualheader {
    font-size: 1.5rem !important;
    padding: 0 !important;
  }

  .serviceheader {
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;

  }
  .serviceheader::before {
    width: 200px;

  }
  .servicebannertitlehidden h4 {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .servicebannertitlehidden p {
    font-size: .9rem;
  }
  .virtualicon {
    overflow: hidden;
  }
  .virtualimgwrap {
    flex-direction: column;
    margin-bottom: 0;
  }
  .spavector {
    display: none;
  }
  .logowrap {
    display: flex;
    height: 100%;
  }
  .one {
    position: relative;
    bottom: -1px;
    font-size: 1.9rem;
    font-weight: 800;
    letter-spacing: normal;
    padding-left: 1rem;
    transform: skewX(-5deg);
    }
    .three {
      transform: skewX(-5deg);
    }
    .two,
    .three {
     letter-spacing: normal;
     padding: 1rem 0;
   }
   .topheader {
     width: 100%;
     justify-content: center;
   }
   .two {
     padding: 1rem .25rem;
   }
}

@media (max-width: 460px) {
  .footerwrapareas {

  }
  .footerareatext {
    gap: 1rem;
  }
  .footerareatext p {
    font-size: .85rem;
  }
  .returnarrowwrap {
    margin: .75rem;

  }
  .drainandcleanbottom {
    margin: 0;
  }
  .drainandcleanpicwrap {
    margin: 0;
  }
  .drainandcleanpic {
    width: 100%;
    height: auto;
  }
  .serviceheadertext {
    padding: 1rem 0;
  }
  .aboutpagecontent h2 {
    font-size: 1.7rem;
    font-weight: 500;
    padding-bottom: 1rem;

  }

  .cleanguypic {
    height: 150px;
    width: 150px;
  }

  .about {
    padding: 0;
  }
  .aboutpic {
  padding: 0 1rem;
  box-shadow: none;
}
  .aboutwrap {
    padding-top: 0;
  }
  .abouttextwrap {
    padding: 4rem 1rem 2rem 1rem;
  }
  .faqsection {
    padding: 0 1rem 2rem 1rem;
  }

  .leftcontact {
    padding-right: 0;
  }
  .topcontact {
    text-align: center;
  }
  .lowerspaphoto {
    top: 0;
    margin: 0 auto;
  }
  .topcontactwrap {
    flex-direction: column;
  }
  .contactus {
    padding: .5rem;
  }


}
@media (max-width: 350px) {

  .card {
      margin: 3rem 0;
  }
  .servicetitle {
    padding: .5rem;
    margin-left: auto;
    margin-right: auto;
  }
}
 @media (max-width: 300px) {
   .servicetitle img {
      display: none;
   }
 }
